.background-wrapper {
   
    background-image: url('imagenfondohtml.jpg'); 
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh; 
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #333;
}

header {
    background-color: rgba(255, 255, 255, 0.4); 
    padding: 10px 0;
}

.titulo-centrado {
    color: #9b59b6; 
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
    margin: 10px 0 30px 0;
}

h2 {
    color: #008cba; 
    border-bottom: 2px solid #008cba;
    padding-bottom: 5px;
    margin-bottom: 20px;
}




.contenedor-columnas {
    width: 80%; 
    max-width: 1200px;
    margin: 30px auto; 
    overflow: hidden; 
}

.columna-izquierda {
    float: left;
    width: 35%; 
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.9); 
    box-sizing: border-box; 
    border-radius: 8px;
    text-align: center;
}

.columna-derecha {
    float: right;
    width: 50%; 
    padding: 20px; 
    background-color: #ADD8E6; 
    box-sizing: border-box; 
    border-radius: 8px;
}

.imagen-columna {
    max-width: 150px; 
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.lista-practicas {
    list-style: none;
    padding: 0;
}

.lista-practicas li {
    margin-bottom: 10px;
    padding: 10px;
    border-left: 5px solid #2ecc71;
    background-color: #ecf0f1;
    border-radius: 4px;
}

.lista-practicas a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
}